<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wykresik</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>	
</head>
<body>
<style>
.chart--grid {
    	position: relative;
}
.col--left{
	position: absolute;
	left: -10px;
	top: -10px;
}
.col--right {
	position: absolute;
	left: 900px;
	top: -10px;
}
</style>
	<div class = chart--grid>
		<div class= col--left>
		<canvas id="Wysokosc slupa wody" width="900" height="400"></canvas>
		<canvas id="error_delta" width="900" height="400"></canvas>
		</div>
	</div>
	<div class = chart--grid>
		<div class=col--right>
		<canvas id="error" width="900" height="400"></canvas>
		<canvas id="Qd" width="900" height="400"></canvas>
		</div>
	</div>
	
	<canvas id="error_delta" width="900" height="400"></canvas>
	<canvas id="Qd" width="900" height="400"></canvas>
	<script>
		var ctx = document.getElementById("error_delta").getContext("2d");
		var lineChart = new Chart(ctx, {
			type: "line",
			data: {
				labels: {{ xlabel | safe }},
				datasets: [
				{
					label: "Error delta value [m]",
					data: {{ values_e_d | safe }},
					fill: false,
					borderColor: "rgb(193,17,198)",
					pointRadius: 1,
					pointHoverRadius: 1,
					lineTension: 0.1
				}
			]
		},
		options: {
			tooltips: {
    			callbacks: {
      				label: (item) => `${item.yLabel} m`,
    				},
  			},
  			scales: {
    			yAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'Error delta [m]'
      				}
    			}],
    			xAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'time [s]'
      				}
    			}]
  			},
			responsive: false
		}
	});
	</script>
	<script>
		var ctx = document.getElementById("Qd").getContext("2d");
		var lineChart = new Chart(ctx, {
			type: "line",
			data: {
				labels: {{ xlabel | safe }},
				datasets: [
				{
					label: "Qd value [m^3/s]",
					data: {{ values_q | safe }},
					fill: false,
					borderColor: "rgb(27,212,93)",
					pointRadius: 1,
					pointHoverRadius: 1,
					lineTension: 0.1
				}
			]
		},
		options: {
			tooltips: {
    			callbacks: {
      				label: (item) => `${item.yLabel} m^3/s`,
    				},
  			},
  			scales: {
    			yAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'Water supply [m^3/s]'
      				}
    			}],
    			xAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'time [s]'
      				}
    			}]
  			},
			responsive: false
		}
	});
	</script>
	<script>
		var ctx = document.getElementById("error").getContext("2d");
		var lineChart = new Chart(ctx, {
			type: "line",
			data: {
				labels: {{ xlabel | safe }},
				datasets: [
				{
					label: "Error value [m]",
					data: {{ values_e | safe }},
					fill: false,
					borderColor: "rgb(212,11,11)",
					pointRadius: 1,
					pointHoverRadius: 1,
					lineTension: 0.1
				}
			]
		},
		options: {
			tooltips: {
    			callbacks: {
      				label: (item) => `${item.yLabel} m`,
    				},
  			},
  			scales: {
    			yAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'Error value [m]'
      				}
    			}],
    			xAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'time [s]'
      				}
    			}]
  			},
			responsive: false
		}
	});
	</script>
	<script>
		var ctx = document.getElementById("Wysokosc slupa wody").getContext("2d");
		var lineChart = new Chart(ctx, {
			type: "line",
			data: {
				labels: {{ xlabel | safe }},
				datasets: [
				{
					label: "Water Level",
					data: {{ values | safe }},
					fill: false,
					borderColor: "rgb(13,222,222)",
					pointRadius: 1,
					pointHoverRadius: 1,
					lineTension: 0.1
				}
			]
		},
		options: {
			tooltips: {
    			callbacks: {
      				label: (item) => `${item.yLabel} m`,
    				},
  			},
  			scales: {
    			yAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'Water level [m]'
      				}
    			}],
    			xAxes: [{
      				scaleLabel: {
        				display: true,
        				labelString: 'time [s]'
      				}
    			}]
  			},
			responsive: false
		}
	});
	</script>
	

</body>
</html>
